body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url("http://imagizer.imageshack.us/a/img924/2923/uKVo8l.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    flex: 1 0 auto;
}

.banner {
    height: 150px;
    overflow: hidden;
}

.banner img {
    position: relative;
    top: -210px;
    background-size: cover;
}

#create_character {
    margin-top: 50px;
}