{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static "bower_components/Materialize/dist/css/materialize.min.css" %}" type="text/css" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
    	<script type="text/javascript" src="{% static "bower_components/Materialize/dist/js/materialize.min.js" %}" ></script>
    	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    	<link rel="stylesheet" href="{% static "css/custom.css" %}" type="text/css" />
    </head>
    <body>
        {% include "templates/header.html" %}
        
        {% block content %}
        {% endblock %}
        
        {% include "templates/footer.html" %}
    </body>
</html>