{% extends 'templates/base.html' %}

{% block content %}

<div class="container">
    <div class="row" id="create_character">
        <div class="col s8">
            <div class="card teal blue-grey darken-5">
                <div class="card-content white-text">
                    <p class="center-align">{{ time }} / inventaire/ {{ etat }}</p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card teal blue-grey darken-5">
                <div class="card-content white-text">
                    {% if pending == "PAYDAY" %}
                    <script>Materialize.toast('Votre activité est terminée !', 4000)</script>
                    <center>
                        <a class="btn waves-effect waves-light" href="https://time-project-d3falt.c9users.io/add_time">Recevoir ma paye</a>
                    </center>
                    {% else %}
                    <p>Activité en cours: {{ pending }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card trensparent">
                <div class="card-content white-text blue-grey darken-4">
                    <p>Citoyen Tempium: {{ name }}</p>
                    <p>Job :  {{ role }}</p>
                </div>
                <div class="card-action black-text">
                    <h5 class="center">Compétences</h5>
                    <p>Stamina : {{ stamina }}</p>
                    
                    <p>Intelligence : {{ intelligence }}</p>
                    <p>Strength : {{ strength }}</p>
                    <p>Social : {{ social }}</p>
                    <p>Observation : {{ observation }}</p>
                </div>
                <div class="card-action black-text trensparent">
                    <h5 class="center">Expérience de travail</h5>
                    <div class="progress">
                        <div class="determinate" style="width: {{ xp }}%"></div>
                    </div>
                </div>
                <div class="card-action white-text blue-grey darken-4">
                    <p>Syndicat : {{ syndicat }}</p>
                </div>
            </div>
            {% if user.character.syndicat == None %}
            <div class="card-panel teal blue-grey darken-1">
                <div class="card-content white-text">
                    <center>
                    <a href="https://time-project-d3falt.c9users.io/select_syndicat" class="btn waves-effect waves-light">Rejoindre un syndicat</a>
                    <br><br> OU <br><br>
                    <a href="https://time-project-d3falt.c9users.io/create_syndicat" class="btn waves-effect waves-light">Créer un syndicat</a>
                    </center>
                </div>
            </div>
            {% else %}
            <div class="card-panel teal blue-grey darken-1">
                <div class="card-content white-text">
                    <center><h5>Syndicat</h5>
                    <a href="https://time-project-d3falt.c9users.io/dashboard_syndicat" class="btn waves-effect waves-light">Quartier général</a>
                    </center>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col s4">

                    <div class="card-panel grey lighten-5 z-depth-1">
                      <div class="row valign-wrapper">
                        <div class="col s2">
                          <img src="https://cdn0.iconfinder.com/data/icons/simple-seo-and-internet-icons/512/support_settings_maintanance-512.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                          <span class="black-text">
                            <center>Gagner de l'argent et de l'expérience<br><br>
                            <a href="https://time-project-d3falt.c9users.io/select_role" class="btn waves-effect waves-light">Travailler</a>
                            </center>
                          </span>
                        </div>
                      </div>
                    </div>
                    
                    <div class="card-panel grey lighten-5 z-depth-1">
                      <div class="row valign-wrapper">
                        <div class="col s2">
                          <img src="http://simpleicon.com/wp-content/uploads/map-7.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                          <span class="black-text">
                            <center>Carte du monde<br><br>
                            <a href="" class="btn waves-effect waves-light">Map</a>
                            </center>
                          </span>
                        </div>
                      </div>
                    </div>
                    
                    <div class="card-panel grey lighten-5 z-depth-1">
                      <div class="row valign-wrapper">
                        <div class="col s2">
                          <img src="https://cdn3.iconfinder.com/data/icons/e-commerce-trading/512/retail-512.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                          <span class="black-text">
                            <center>Accédez au marché<br><br>
                            <a href="" class="btn waves-effect waves-light">Marché</a>
                            </center>
                          </span>
                        </div>
                      </div>
                    </div>
        </div>
        <div class="col s4">
            
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/148944-84.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <span class="black-text">
                            <center>Accédez au marché noir<br><br>
                            <a href="" onclick="Materialize.toast('Le marché noir est fermé', 4000)" class="btn waves-effect waves-light">Marché noir</a>
                            </center>
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="https://cdn4.iconfinder.com/data/icons/medical-icons-normal-vector/1250/path_financial-512.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <span class="black-text">
                            <center>Suivez le cours de la bourse<br><br>
                            <a href="" class="btn waves-effect waves-light">Bourse</a>
                            </center>
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="http://www.tshirtangels.com/image.aspx?src=gfx/prints/transparent/blackfist.png&w=300&h=300&q=95&bg=%23FFFFFF" alt="" class="responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <span class="black-text">
                            <center>Evenements politique<br><br>
                            <a href="" class="btn waves-effect waves-light">Politique</a>
                            </center>
                        </span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}