<div class="banner">
  <img src="http://i.4cdn.org/wg/1455386557668.jpg"></img>
</div>

  <nav>
    <div class="nav-wrapper blue-grey darken-4 z-depth-3">
      <a href="https://time-project-d3falt.c9users.io/" class="brand-logo center">Tempium</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
        <li>
          Bonjour, {{ user.username }}
        </li>
        {% if user.character %}
          <li><a href="https://time-project-d3falt.c9users.io/dashboard">Dashboard</a></li>
        {% else %}
          <li><a href="https://time-project-d3falt.c9users.io/create_character">Create Character</a></li>
        {% endif %}
        <li><a href="https://time-project-d3falt.c9users.io/deconnexion">log-out</a></li>
        {% else %}
        <iframe width="1" height="1" src="https://www.youtue.com/embed/Zy00_VUgsCA?rel=0&amp;controls=0&autoplay=true" frameborder="0" allowfullscreen></iframe>
        <li><a href="https://time-project-d3falt.c9users.io/register">Register</a></li>
        <li><a href="https://time-project-d3falt.c9users.io/connexion">Log-in</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>