{% extends 'templates/base.html' %}


{% block content %}
<div class="container">
    <div class="row" id="create_character">
        <div class="col s6 offset-s3">
                <h1 class="center-align white-text">Liste des métiers</h1>
                <form action="/select_role/" method="post">
                    {% for n in role %}
                    {% csrf_token %}
                        <div class="card-panel grey lighten-5 z-depth-1">
                          <div class="row valign-wrapper">
                            <div class="col s2">
                              <img src="http://findicons.com/files/icons/1579/devine/256/work.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s10">
                              <span class="black-text">
                                <h5>{{ n.name }}</h5>
                                {% with guigui=0 %}
                                {% for stat in stat_chara %}
                                    {% if stat.0 == n.first_stat %}
                                        {% if stat.1 >= n.min_first %}
                                        
                                        
                                {% for statamere in stat_chara %}
                                    {% if statamere.0 == n.second_stat %}
                                        {% if statamere.1 >= n.min_second %}
                                            <button class="btn waves-effect waves-light" type="submit" name="name" value="{{ n.name }}">Rejoindre</button>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                
                                        
                                        
                                        {% endif %}
                                    {% endif %}
                                    
                                {% endfor %}
                                {% if guigui == 2 %}
                                <button class="btn waves-effect waves-light" type="submit" name="name" value="{{ n.name }}">tamere</button>
                                {% endif %}
                                {% endwith %}
                              </span>
                            </div>
                          </div>
                        </div>
                    {% endfor %} 
                </form>
            </ul>
        </div>
    </div>
</div>
{% endblock %}