{% extends 'templates/base.html' %}

{% block content %}
<div class="container">
    <div class="row" id="create_character">
        <div class="col s12">
                <h1>Liste des syndicat</h1>
                <form action="/select_syndicat/" method="post">
                    {% for n in syndicat %}
                    {% csrf_token %}
                        <div class="card-panel grey lighten-5 z-depth-1">
                          <div class="row valign-wrapper">
                            <div class="col s2">
                              <img src="https://nbain21.files.wordpress.com/2014/10/gang.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s10">
                              <span class="black-text">
                                <h6>{{ n.name }}</h6>
                                <p>Membres : {{ n.membres }}</p>
                                <p>Niveau : {{ n.niveau }}</p>
                                <button class="btn waves-effect waves-light" type="submit" name="name" value="{{ n.name }}">Rejoindre</button>
                              </span>
                            </div>
                          </div>
                        </div>
                    {% endfor %} 
                </form>
            </ul>
        </div>
    </div>
</div>
{% endblock %}